@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&family=Montserrat&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling header of the page  */
.header {
    margin: 60px 0 0 18px;
    display: flex;
    flex-direction: column;
}

/* Styling team name */
#team-name {
    margin-top: 10px;
    width: 100%;
    font-size: 2.3em;
    font-family: "PT Serif";
    font-weight: 700;
}

/* Styling Team Name and description */
.describe {
    margin-top: 25px;
    width: 90%;
    font-family: "Poppins";
}
#heading {
    font-size: 1.2em;
    font-weight: 600;
}
#info {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 400;
}

/* Styling team members cards */
.team {
    margin: 60px auto 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap: 80px;
}

/* wrapper */
.wrapper{
    width: 100%;
    flex-basis: 49%;
    position: relative;
}

/*  styling property for each card  */
.card {
    margin: 0 auto;
    width: 156px;
    height: 235px;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-content: center;
}
.wrapper:nth-child(even) {
    top: 60px;
}

/* styling name and role text of each members */
.title {
    writing-mode: vertical-rl;
    font-family: "PT Serif";
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
}
.name {
    font-family: Poppins;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
}

/*  Styling footer content  */
.footer {
    margin-top: 150px;
    margin-bottom: 10px;
    padding: 5px 0;
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #a9a9a9;
}
#creator {
    text-decoration: none;
    font-weight: 700;
    color: #a9a9a9;
}
#devIo {
    text-decoration: none;
    font-weight: 600;
    color: #a9a9a9;
}
#creator:hover, #devIo:hover {
    cursor: pointer;
}

/* for destktop windows */
@media screen and (min-width: 760px) {

    /*  styling header to be dislayed as columns */
    .header {
        max-width: 90%;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }
    #team-name{
        max-width: 40%;
    }
    .describe {
        max-width: 40%;
        font-size: 18px;
    }

    /* settings image for bigger screens */
    img {
        width: 225px;
        height: 340px;
    }

    /* styling team members card to be displayed in center */
    .team {
        margin: 140px auto 0;
        max-width: 1100px;
        row-gap: 250px
    }
    .wrapper {
        flex-basis: 33.2%;
    }
    .wrapper:nth-child(even) {
        top: 0px;
    }

    .wrapper > .card {
        margin: 0 auto;
    }

    .wrapper:nth-child(3n - 1) {
        top: 100px;
    }

    .footer{
        margin-top: 250px;
    }
}